body {
  margin: 0.5rem 0;
  padding: 0.2rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
}

.boxStyle {
	padding: 0.2rem;
}

.boxStyle form {
	border: 1px solid #ccc;
	background-color: #fafafa;
	padding: 0.5rem;
}

.icon {
    margin-right: 0.5rem;
}

.icon i {
	cursor: pointer;
	padding: 0.2rem;
}

.form-control {
	height: 20px;
	font-size: 0.8rem;
	margin-bottom: 0.3rem;
}

label {
	margin-bottom: 0.1rem;
}

.menutools {
	text-align: center;
	background-color: #999;
	padding: 0.5rem;
}

.menutools .icon {
	border-right: 1px solid #333;
    line-height: 22px;
    padding-right: 0.5rem;
    cursor: pointer;
}

.searchInput {
	padding-left: 10px;
    position: relative;
    right: auto;
    top: auto;
}

.searchInput input {
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    outline: none;
    padding-left: 25px;
    position: relative;
    transition: width .5s ease;
    width: 170px;
}

.searchInput .fa-search {
	position: absolute;
    top: 5px;
    left: 17px;
}

label { display: block; }

.hide {display: none}

.show {display: block;}
